.movie-grid {
  .p-dataview {
    .p-dataview-header {
      background: transparent;
      border: none;
      padding: $spacing-md 0;
    }

    .p-dataview-content {
      background: transparent;
      border: none;

      .grid {
        margin: 0;
      }
    }

    .p-paginator {
      background: transparent;
      border: none;
      padding: $spacing-md 0;
    }
  }
}
